<div class="container text-center my-5 px-5">
  <h2 class="my-4">Welcome to My FFXIV Collectable Tracker!</h2>
  <p>Here you can browse through the various collectable items available in the critically acclaimed MMORPG Final Fantasy XIV Online (FFXIV or FF14) whose expanded free trial now includes the entirety of A Realm Reborn as well as the award winning expansion Heavensward which allows you to play all the way up to level 60 with no limits on playtime.</p>

  <p>Click on one of the categories above to start browsing or click on the sign up button to create an account so that you can add items to your own personal track list!</p>

  <p>Data provided by the expansive and wonderful <a href="https://ffxivcollect.com/">FFXIV Collect</a> API <i>whose collection tracking website is very good so maybe go check that out instead</i></p>

  <p>But if you decide to stick around then that's cool too</p>
</div>